{% extends 'web/layout/manage.html' %}
{% load static %}
{% block title %}
    issues view
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/bootstrap-select.min.css' %}">
    <style>
        .createIssueBtn{
            width: 100%;
            background-color: #849376;   //sage color
            text-align:center
        }
        .issueFilter{
            background-color: #849376;
        }
        .issueList{
            min-height: 700px;
            background-color: #849376;
        }
        .panel .dividerLine{
            border:1px solid black;
            margin:0;
        }
        .creatingIssueModal .modal-header{
            background-color: #849376;
            border-bottom: 2px solid #849376;
        }
        .creatingIssueModal .modal-footer{
            background-color: #849376;
            border-top: 1px solid #849376;
        }
        .creatingIssueModal .modal-body{
            background-color: #cee2d9;
        }
        .creatingIssueModal button{
            background-color: #cee2d9;
        }
        .creatingIssueModal .close{
            background-color: #849376;
        }
        .creatingIssueModal button[data-toggle=dropdown]{
            background-color: #fff;
        }
        .sageColor{
            background-color: #849376;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border-top: solid 2px black;
        }
        .issueListLoadingAnimation{
            text-align: center;
        }
        .pagination>li>a, .pagination>li>span{
            color:black;
            background-color: #849376;
            border: 1px solid black;
        }
        .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
            color:black;
            background-color: #cee2d9;
            border-color: black ;
        }
        .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
            background-color: #849376;
        }
        .error-msg{
            font-size:12px;
            color: red;
        }
        .error-msg i{
            animation: shake 0.5s ease-in-out infinite;
        }
        @keyframes shake{
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(10deg);
            }
            50% {
                transform: rotate(-10deg);
            }
            75% {
                transform: rotate(10deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        .creatingIssueModalFace{
            position: relative;
        }
        .creatingIssueModalMask{
            position:absolute;
            top: 0;
            left: 0;
            z-index:10;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(2px);
            text-align: center;
            background-color: rgba(255,255,255,0.5);
        }
        .issueDetailPort a{
            color: #cee2d9;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-3">
            <div class="col-md-12">
                <btn class="btn createIssueBtn" data-toggle="modal" data-target="#creatingIssueModal">
                <i class="fa-solid fa-plus-circle fa-5x "></i>
                <h3>Create a New Issue</h3>
                </btn>
            </div>
            <div class="col-md-12" style="margin-top: 20px">
                 <div class="panel issueFilter">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" href="#issueFilter">
                                <i class="fa-solid fa-filter"></i><b>Issue Filter</b>
                            </a>
                        </div>
                    </div>
                    <hr class="dividerLine">
                    <div class="panel-collapse collapse out" id="issueFilter">
                        <div class="panel-body">
                            <form autocomplete="on" id="issueFilterForm">
                                {% csrf_token %}
                                <div class="row no-padding">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                            <span class="input-group-addon">{{ issue_filter_form.issue_creators.label}}</span>
                                            {{ issue_filter_form.issue_creators }}
                                             <div class="error-msg {{ issue_filter_form.issue_creators.name }}"></div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                {{ issue_filter_form.issue_managers.label }}
                                            </span>
                                            {{ issue_filter_form.issue_managers }}
                                            <div class="error-msg {{ issue_filter_form.issue_managers.name }}"></div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                {{ issue_filter_form.issue_members.label }}
                                            </span>
                                                {{ issue_filter_form.issue_members }}
                                                <div class="error-msg {{ issue_filter_form.issue_members.name }}"></div>
                                        </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{ issue_filter_form.sort.id_for_label }}">{{ issue_filter_form.sort.label }}</label>
                                            {{ issue_filter_form.sort  }}
                                            <div class="error-msg {{ issue_filter_form.sort.name }}"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{ issue_filter_form.type.id_for_label }}">{{ issue_filter_form.type.label }}</label>
                                            {{ issue_filter_form.type }}
                                            <div class="error-msg {{ issue_filter_form.type.name }}"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="{{ issue_filter_form.priviledge.id_for_label }}">{{ issue_filter_form.priviledge.label }}</label>
                                            {{ issue_filter_form.priviledge }}
                                            <div class="error-msg {{ issue_filter_form.priviledge.name }}"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="btn btn-default form-control"type="submit" value="Start" >
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="panel issueList">
                <div class="panel-heading">Issue List</div>
                <hr class="dividerLine">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table sageColor" >
                        <tbody id="issueList">
                            <tr>
                                <th>
                                    <div>#</div>
                                    <div>Detail</div>
                                </th>
                                <th>
                                    <div>Title</div>
                                    <div>Type</div>
                                </th>
                                <th>
                                    <div>Creator</div>
                                    <div>Creating Time</div>
                                </th>
                                <th>Members</th>
                                <th>
                                    <div>Priviledge</div>
                                    <div>Status</div>
                                </th>
                                <th>
                                    Last Updated Time
                                </th>
                            </tr>
                            <tr class="issueListItemTemp hidden issueDetailPort">
                                <td>
                                    <div class="issue_id">#1</div>
                                    <div ><a href="#">
                                        <i class="fa-solid fa-arrow-right-to-bracket fa-bounce"></i>
                                    </a></div>
                                </td>
                                <td>
                                    <div class="issue_title">MyFirstIssue</div>
                                    <div class="issue_type">Feature discussing</div>
                                </td>
                                <td>
                                    <div class="issue_creator__username">user1</div>
                                    <div class="issue_creating_time">2022-3-15 12:12:12</div>
                                </td>
                                <td class="issue_manager__username">user2,user3</td>
                                <td>
                                    <div class="issue_priviledge">Premium</div>
                                    <div class="issue_status">Newly Created</div>
                                </td>
                                <td class="issue_last_updated_time">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="issueListLoadingAnimation hidden">
                        <i class="fa-solid fa-spinner fa-5x fa-spin"></i>
                    </div>
                    <ul class="pagination pagination-lg issueListPagination">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    // creating_issues modal
    <div class="modal fade creatingIssueModal" tabindex="-1" role="dialog" id="creatingIssueModal" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Creating an Issue</h4>
              </div>
              <div class="modal-body creatingIssueModalFace">
                <form class='form ' action="" method="post" autocomplete="on" id="creatingIssueForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><b>{{ new_issue_form.title.label }}</b></div>
                            {{new_issue_form.title}}
                        </div>
                        <div class="error-msg {{ new_issue_form.title.name }}"></div>
                    </div>
                    <div class="form-group">
                        <label for="{{ new_issue_form.description.id_for_label }}">{{ new_issue_form.description.label }}</label>
                        {{ new_issue_form.description }}
                        <div class="error-msg {{ new_issue_form.description.name }}"></div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ new_issue_form.type.id_for_label }}">{{ new_issue_form.type.label }}</label>
                        {{ new_issue_form.type  }}
                            <div class="error-msg {{ new_issue_form.type.name }}"></div>
                    </div>
                    </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ new_issue_form.priviledge.id_for_label }}">{{ new_issue_form.priviledge.label }}</label>
                        {{ new_issue_form.priviledge }}
                            <div class="error-msg {{ new_issue_form.priviledge.name }}"></div>
                    </div>
                    </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ new_issue_form.issue_manager.id_for_label }}">{{ new_issue_form.issue_manager.label }}</label>
                        {{ new_issue_form.issue_manager }}
                            <div class="error-msg {{ new_issue_form.issue_manager.name }}"></div>
                    </div>
                    </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ new_issue_form.issue_members.id_for_label }}">{{ new_issue_form.issue_members.label }}</label>
                        {{ new_issue_form.issue_members }}<div class="error-msg {{ issue_filter_form.issue_members.name }}"></div>
                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ new_issue_form.deadline_time.id_for_label }}">{{ new_issue_form.deadline_time.label }}</label>
                        {{ new_issue_form.deadline_time }}
                        <div class="error-msg {{ new_issue_form.deadline_time.name }}"></div>
                    </div>
                </form>
                  <div class="creatingIssueModalMask hidden">
                      <i class="fa-solid fa-spinner fa-spin fa-4x"></i>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="creatingIssueSubmitBtn">Creating</button>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block js %}
    <script src="{% static 'web/js/bootstrap-select.min.js' %}"></script>
    <script>
        var issueDetailProtPrefix='/manage/{{ request.tracer.project.id }}/issue/details/'
        $(()=>{
            $('.createIssueBtn').on('mouseover',function (){
                $(this).find('i').addClass('fa-bounce')
            })
            $('.createIssueBtn').on('mouseout',function (){
                $(this).find('i').removeClass('fa-bounce')
            })
            $('#creatingIssueForm').on('submit',function (event) {
                event.preventDefault()
                event.stopPropagation()
                $('.creatingIssueModalMask').removeClass('hidden')
                        var formElement=$(this)
                        var formData=$(this).serialize()
                        console.log(formData)
                        $.ajax({
                            url:'{% url 'web:issue' project_id=request.tracer.project.id %}',
                            method:'post',
                            data:formData,
                            dataType:'json',
                            success:function (response) {
                                $('.creatingIssueModalMask').addClass('hidden')
                                if(response.flag){
                                    location.reload()
                                }
                                else{
                                    var validation_res=response.content.validation_res
                                    $.each(validation_res, function (key,value) {
                                        formElement.find('.error-msg.'+key).html(
                                            value[0]
                                        )
                                    })
                                }
                            },
                            error:function (jqXHR,textStatus,errorThrown) {
                                alert(
                                    'Error: '+jqXHR.responseText+'('+textStatus+')'
                                )
                            }
                        })
            })
            $('#creatingIssueSubmitBtn').on('click',function () {
                $('#creatingIssueForm').trigger('submit')
            })
            // issue list generator
            function createIssueItem(issueData){
                var clonedIssueItemTemp=$('.issueListItemTemp').clone()
                $.each(issueData,function (key,value){
                    clonedIssueItemTemp.find('.issue_'+key).html(value)
                })
                clonedIssueItemTemp.find('a').attr('href',issueDetailProtPrefix+issueData.id)
                clonedIssueItemTemp.removeClass(['hidden','issueListItemTemp'])
                return clonedIssueItemTemp
            }
            function getIssuePage(issueFilterFormData,pageNumber) {
                $('.issueListLoadingAnimation').removeClass('hidden')
                $.ajax({
                url:'{% url 'web:issue_list' project_id=request.tracer.project.id %}'+'?page='+pageNumber,
                method:'post',
                data:issueFilterFormData,
                dataType:'json',
                success:function (response){
                    if(response.flag){
                        $('.issueListLoadingAnimation').addClass('hidden')
                        issueListItems=response.content.object_list
                        $('.issueListItemTemp').nextAll().remove()
                        $.each(issueListItems,function (index,singleIssue){
                        var issueItem=createIssueItem(singleIssue)
                        $('#issueList').append(issueItem)
                    })
                    }
                    else{

                    }
                },
                error:function (jqXHR,textStatus,errorThrown) {
                        alert('Error: '+errorThrown+'('+textStatus+')')
                }
            })
            }
            $('#issueFilterForm').on('submit',function (e){
                e.preventDefault()
                e.stopPropagation()
                $('a[data-toggle=collapse]').trigger('click')
                var issueFilterFormData=$(this).serialize()
                getIssuePage(issueFilterFormData,'1')
            })
            getIssuePage($('#issueFilterForm').serialize(),'1')

        })
    </script>
    <script>
    </script>
{% endblock %}