{% extends 'web/layout/manage.html' %}
{% load web_custome_tags %}
{% load static %}
{% block title %}
    issue detail
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/bootstrap-select.min.css' %}">
    <style>
        .sageGreen{
            background-color: #849376;
        }
        .sageGreen .modal-header{
            border-bottom: 2px solid black;
        }
        .sageGreen .modal-footer{
            border-top: 2px solid black;
        }
        .issueDetail{
            background-color: #849376;
        }
        .issueReplies{
            background-color: #849376;
        }
        .panel-body{
            border-top: 2px solid black;
        }
        .issueReply{
            background-color: #9fb287;
        }
        .issueReply>.panel-heading{
            padding: 10px 0;
            border-left: 0;
        }
        .issueReply>.panel-body{
            border-top: 1px solid black;
        }
        .panel-title .btn{
            background-color: #777777;
            color:#333333;
        }
        .liveAvatar{
            display:inline-block;
            width: 30px;
            height: 30px;
            border-radius:20px;
            font-size:20px;
            text-align: center;
            line-height: 30px;
            color: black;
        }
        .sageGreen .list-group-item{
            background-color: #849376;
            border:1px solid black
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" >
            <div class="col-sm-12">
                <div class="panel  issueDetail">
                    <div class="panel-heading clearfix">
                      <h4 class="panel-title">
                        <a data-toggle="collapse"  href="#issueDetail" >
                          <i class="fa-solid fa-hand-point-right"></i>Issue Detail
                        </a>
                          {% if request.user.username == issue_details.creator__username or request.user.username == issue_details.manager__username%}
                              <button type="button" class="btn btn-sm float-right" data-toggle="modal" data-target="#updateIssueDetailsModal">Modify</button>
                              <button type="button" class="btn btn-sm float-right" data-toggle="modal" data-target="#deleteIssueModal">Delete</button>
                          {% endif %}
                      </h4>
                    </div>
                    <div id="issueDetail" class="panel-collapse collapse in" >
                      <div class="panel-body">
                            <ul class="list-group sageGreen">
                                <li class="list-group-item clearfix">
                                    <div class="col-xs-6"><i class="fa-solid fa-user-secret"></i>Creator {% live_avatar issue_details.creator__username %}</div>
                                    <div class="col-xs-6"><i class="fa-solid fa-clock"></i>Creating Time {{ issue_details.creating_time }}</div>
                                </li>
                                <div class="list-group-item clearfix">
                                    <div class="col-xs-4">Status {% issue_status issue_details.status %}</div>
                                    <div class="col-xs-4">Priviledge {% issue_privilidge issue_details.priviledge %}</div>
                                    <div class="col-xs-4">Type {% issue_type issue_details.type %}</div>
                                </div>
                                <li class="list-group-item clearfix">
                                    <i class="fa-solid fa-clock"></i>Last Updated Time: {{ issue_details.last_updated_time }}
                                </li>
                                <li class="list-group-item clearfix">
                                    <div class="col-sm-6" style="padding-top: 10px">
                                    <span>Issue Members </span>
                                    {% for issue_member in issue_details.members %}
                                        {% live_avatar issue_member %}
                                    {% endfor %}
                                    </div>
                                <div class="col-sm-6" style="padding-top: 10px">
                                    <div class="form-group " >
                                        <label>Issue Description</label>
                                        <textarea rows="3"  class="form-control" readonly style="border: 2px solid black; background-color: #849376;color:black" >{{ issue_details.description }}</textarea>
                                    </div>
                                </div>
                                </li>

                            </ul>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12">
                <div class="panel issueReplies">
                  <div class="panel-heading">
                    <div class="panel-title ">
                        Issue Replies
                        <button type="button" class="btn btn-sm propagateReplyId" data-toggle="modal" data-target="#createReplyModal">Reply</button>
                    </div>
                  </div>
                  <div class="panel-body">
                        <div class="panel issueReply hidden" id="issueReplyTpl" >
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a href="#replyFromUser1" data-toggle="collapse" class="reply_creator__username live-avatar"><span class="liveAvatar" data-toggle="tooltip" data-placement="bottom" title=""></span></a>
                                    <button type="button" class="btn btn-sm propagateReplyId" data-toggle="modal" data-target="#createReplyModal">Reply</button>
                                    <span class="reply_reply_time"> </span>
                                </div>
                            </div>
                            <div id="replyFromUser1"  class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p class="reply_content"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateIssueDetailsModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content sageGreen">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
                  <h4 class="modal-title" >Updating Your Issue Details</h4>
                </div>
                <div class="modal-body">
                    <form id="updateIssueDetailsForm" autocomplete="on">
                        {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><b>{{ update_issue_details_form.title.label }}</b></div>
                            {{update_issue_details_form.title}}
                        </div>
                        <div class="error-msg {{ update_issue_details_form.title.name }}"></div>
                    </div>
                    <div class="form-group">
                        <label for="{{ update_issue_details_form.description.id_for_label }}">{{ update_issue_details_form.description.label }}</label>
                        {{ update_issue_details_form.description }}
                        <div class="error-msg {{ update_issue_details_form.description.name }}"></div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ update_issue_details_form.type.id_for_label }}">{{ update_issue_details_form.type.label }}</label>
                        {{ update_issue_details_form.type  }}
                            <div class="error-msg {{ update_issue_details_form.type.name }}"></div>
                    </div>
                    </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ update_issue_details_form.priviledge.id_for_label }}">{{ update_issue_details_form.priviledge.label }}</label>
                        {{ update_issue_details_form.priviledge }}
                            <div class="error-msg {{ update_issue_details_form.priviledge.name }}"></div>
                    </div>
                    </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ update_issue_details_form.issue_manager.id_for_label }}">{{ update_issue_details_form.issue_manager.label }}</label>
                        {{ update_issue_details_form.issue_manager }}
                            <div class="error-msg {{ update_issue_details_form.issue_manager.name }}"></div>
                    </div>
                    </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{ update_issue_details_form.issue_members.id_for_label }}">{{ update_issue_details_form.issue_members.label }}</label>
                        {{ update_issue_details_form.issue_members }}<div class="error-msg {{ update_issue_details_form.issue_members.name }}"></div>
                    </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ update_issue_details_form.deadline_time.id_for_label }}">{{ update_issue_details_form.deadline_time.label }}</label>
                        {{ update_issue_details_form.deadline_time }}
                        <div class="error-msg {{ update_issue_details_form.deadline_time.name }}"></div>
                    </div>
                </form>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="triggerSubmissionUpdatingIssueDetailsForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteIssueModal" tabindex="-1">
        <div class="modal-dialog" >
            <div class="modal-content sageGreen">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
                  <h4 class="modal-title" >Delete this Issue</h4>
                </div>
                <div class="modal-body">
                    <form id="deleteIssueForm" autocomplete="on">
                        <div class="form-group">
                            <label for="deleteIssueConfirmationInput">Please type <b style="color: #ffc107">{{ issue_details.title}}</b> to confirm you actually want to delete this issue</label>
                            <input id="deleteIssueConfirmationInput" type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="triggerSubmissionDeleteIssueForm" disabled>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createReplyModal" tabindex="-1" >
        <div class="modal-dialog " >
            <div class="modal-content sageGreen">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
                  <h4 class="modal-title" >Reply to someone</h4>
                </div>
                <div class="modal-body">
                    <form id="createReplyForm" autocomplete="on">
                        {% csrf_token %}
                        <input type="hidden" name="parent_reply_id">
                        <div class="form-group">
                            <label for="">Content</label>
                            <input type="textarea" class="form-control" rows="3" name="" id="" placeholder="Kind words warm the winter months, while the harsh words chill the summer season">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="triggerSubmissionCreatingReplyForm">Send</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'web/js/bootstrap-select.min.js' %}"></script>
    <script>
        function bindButtonToFormSubmitAjax(buttonId,submitAJaxFunction) {
            $('#'+buttonId).on('click',function () {
                submitAJaxFunction()
            })
        }
        function updateIssueDetailFormSumbit() {
            var formData=$('#updateIssueDetailsForm').serialize()
            $.ajax({
                method: 'post',
                url:'{% url 'web:issue_details_update' project_id=request.tracer.project.id issue_id=request.tracer.issue.id%}',
                data:formData,
                dataType: 'json',
                success: function (response) {
                    if(response.flag){
                        location.reload()
                    }
                    else{
                        validationRes=response.content
                        $.each(validationRes,function (key,value) {
                            $('#updateIssueDetailsForm').find('.error-msg.'+key).html(value)
                        })
                    }
                },
                error: function (jqXHR,textErrorCode,ErrorThrown) {
                    alert('Error:'+jqXHR.textResponse+'('+textErrorCode+')')
                }
            })
        }
        function deleteIssueFormSubmit() {
            $.ajax({
                method:'get',
                url:"{% url 'web:issue_details_delete' project_id=request.tracer.project.id  issue_id=request.tracer.issue.id %}",
                success:function (response) {
                    if(response.flag){
                        location.href='{% url 'web:issue' project_id=request.tracer.project.id %}'
                    }
                    else{
                        alert('Error:'+response.content)
                    }
                },
                error:function (jqXHR,textError,errorThrown) {
                    alert('Error:'+jqXHR.textResponse+'('+textError+')following by thrown error message:'+errorThrown)
                }
            })

        }
        function propagateReplyIdToReplyForm() {
            $('.propagateReplyId').on('click',function () {
                var parentReplyId=$(this).parent().parent().parent().attr('id')
                if (!parentReplyId){
                    parentReplyId='No Parent'
                }
                $('#createReplyForm').find('[name=parent_reply_id]').val(parentReplyId)
            })
        }
        function createReplyFormSubmit() {
            $.ajax({
                method:'post',
                url:'',
                data: $('#createReplyForm').serialize(),
                dataType:'json',
                success:function (response) {
                    if(response.flag){

                    }
                    else{
                        alert("Something went wrong.But don't fret, it's not your fault.")
                    }
                },
                error:function(jqXHR,textErrorCode,ErrorThrown){
                    alert('Error:'+jqXHR.textResponse+'('+textErrorCode+')')
                }
            })
        }
        function filloutReplyTpl(issueReply) {
            var issueReplyTplCloned=$('#issueReplyTpl').clone().attr('id','reply_'+issueReply.id).removeClass(['hidden'])
            issueReplyTplCloned.find('.reply_content').html(issueReply.content)
            issueReplyTplCloned.find('.reply_reply_time').html(issueReply.reply_time)
            const creatorName=issueReply.creator__username
            const FirstChar=creatorName.slice(0)
            issueReplyTplCloned.find('.reply_creator__username').find('.livaAvatar').html(FirstChar).attr('title',creatorName)
            return issueReplyTplCloned
        }
        function getIssueReplies(){
            $.ajax({
                method:'get',
                url:'',
                dataType:'json',
                success:function (response) {
                    if(response.flag){
                        IssueReplies=response.content
                        $.each(IssueReplies,function (index,issueReply) {
                            if(issueReply.parent_reply==null){
                                var issueReplyTplCloned=filloutReplyTpl(issueReply)
                                $('.issueReplies').find('panel-body').append(issueReplyTplCloned)
                            }
                            else{
                                var issueReplyTplCloned=filloutReplyTpl(issueReply)
                                $('.issueReplies').find('#issue_'+issueReply.parent_reply).find('panel-body').append(issueReplyTplCloned)
                                if(issueReply.has_next){
                                    $('#issue_'+issueReply.id).find('panel-body').append($('a').html('show more').addClass('retriveRepliesMoreThan2LevelAnchor'))
                                }
                            }
                        })
                    }
                    else{
                        //No replies
                    }
                },
                error:function (jqXHR,textStatus,errorThrown) {
                    alert('Error:'+jqXHR.textResponse+'('+textStatus+')')
                }
            })
        }
        $(function () {
            bindButtonToFormSubmitAjax('triggerSubmissionUpdatingIssueDetailsForm',updateIssueDetailFormSumbit)
            bindButtonToFormSubmitAjax('triggerSubmissionCreatingReplyForm',createReplyFormSubmit)
            bindButtonToFormSubmitAjax('triggerSubmissionDeleteIssueForm',deleteIssueFormSubmit)
            getIssueReplies()
            $('[data-toggle="tooltip"]').tooltip()
            $('#deleteIssueConfirmationInput').on('input',function () {
                if($(this).val()=='{{ issue_details.title }}'){
                    $('#triggerSubmissionDeleteIssueForm').attr('disabled',false)
                }
                else{
                    $('#triggerSubmissionDeleteIssueForm').attr('disabled',true)
                }
            })
        })

    </script>
{% endblock %}