{% extends 'web/layout/manage.html' %}
{% load static %}
{% block css %}
    <style>
        .error-msg {
            color: red;
            font-size: 13px;
        }
        .createProj {
            width: 400px;
            padding: 10px 85px;
            margin: 20px auto;
        }
         .color-radio input[type="radio"] + .cycle {
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid #dddddd;
        }
        .color-radio input[type="radio"]:checked + .cycle {
            border: 2px solid black;
        }
        .thumbnail.archor {
            height: 100px;
            font-size: 20px;
            text-align: center;
            line-height: 100px;
            font-weight: bold;
            color: #333333;
            text-decoration: none;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block title %}
Project list
{% endblock %}
{% block content %}
    {% if crea_allow %}
        <div class="createProj">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#createProjModal"><i class="fa-solid fa-circle-plus"></i> Create a New Project
        </button>
    {% else %}
        <div class="createProj">
            <button  id='notAllowedCreateTooltip' type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="right" disabled>You have no remain project</button>
        </div>
    {% endif %}
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><span style="color:goldenrod"><i class="fa-solid fa-star-of-david"></i></span> Starred Project <a  class="btn btn-default" role="button" data-toggle="collapse" href="#collapseStarPorjList" >
                Collapse</a></h2>
            </div>
            <div class="panel-body " >
                <div class="row collapse in" id="collapseStarPorjList">
                    {% for project in projects_set_starred %}
                        <div class="col-md-3">
                                {% if project.owner %}
                                    <div class="panel panel-default">
                                    <div class="panel-body" >
                                        <a href="{% url 'web:dashboard' project_id=project.id %}" class="thumbnail archor" style=" background-color: {{ project.get_color_display }}
                                                "><i class="fa-solid fa-diagram-project"></i>
                                            {{ project.name }}
                                        </a>
                                     </div>
                                    <div class="panel-footer">
                                        <span class="panel-title"><span class="{{ project.name }}_starClickInvol_{{ project.owner }}" {% if project.star_not_creator %}
                                        style="color: goldenrod"
                                        {% endif %} ><i  class="fa-solid fa-star-of-david " ></i></span><span class="projOwner">{{ project.owner }}</span> <span style="float:right"><i class="fa-solid fa-database"></i>{{ project.used_space }}</span></span>
                                    </div>
                                </div>

                                {% else %}
                                    <div class="panel panel-default">
                                    <div class="panel-body" >
                                        <a href="{% url 'web:dashboard' project_id=project.id %}" class="thumbnail archor" style=" background-color: {{ project.get_color_display }}
                                                "><i class="fa-solid fa-diagram-project"></i>
                                            {{ project.name }}
                                        </a>
                                     </div>
                                    <div class="panel-footer">
                                        <span class="panel-title"><span class="starClickMe_{{ project.name }}" {% if project.star %}
                                        style="color: goldenrod"
                                        {% endif %} ><i  class="fa-solid fa-star-of-david " ></i></span> <span style="float:right"><i class="fa-solid fa-database"></i>{{ project.used_space }}</span></span>
                                    </div>
                                </div>

                                {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <span>This is for the displayment of remian numbers of projects</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa-solid fa-person"></i> Projects Created by ME <a  class="btn btn-default" role="button" data-toggle="collapse" href="#collapseMyPorjList" >
                Collapse</a></h2>
            </div>
            <div class="panel-body " >
                <div class="row collapse in" id="collapseMyPorjList">
                    {% for project in projects_set_me %}
                        <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body" >
                                        <a href="{% url 'web:dashboard' project_id=project.id %}" class="thumbnail archor" style=" background-color: {{ project.get_color_display }}
                                                "><i class="fa-solid fa-diagram-project"></i>
                                            {{ project.name }}
                                        </a>
                                     </div>
                                    <div class="panel-footer">
                                        <span class="panel-title"><span class="starClickMe_{{ project.name }}" {% if project.star %}
                                        style="color: goldenrod"
                                        {% endif %} ><i  class="fa-solid fa-star-of-david " ></i></span> <span style="float:right"><i class="fa-solid fa-database"></i>{{ project.used_space }}</span></span>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <span>This is for the displayment of remian numbers of projects</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa-solid fa-people-roof"></i> Projects Involved In <a  class="btn btn-default" role="button" data-toggle="collapse" href="#collapseInvolPorjList" >
                Collapse</a></h2>
            </div>
            <div class="panel-body " >
                <div class="row collapse in" id="collapseInvolPorjList">
                    {% for project in projects_set_invol %}
                        <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body" >
                                        <a href="{% url 'web:dashboard' project_id=project.id %}" class="thumbnail archor" style=" background-color: {{ project.get_color_display }}
                                                "><i class="fa-solid fa-diagram-project"></i>
                                            {{ project.name }}
                                        </a>
                                     </div>
                                    <div class="panel-footer">
                                        <span class="panel-title"><span class="{{ project.name }}_starClickInvol_{{ project.owner }}" {% if project.star_not_creator %}
                                        style="color: goldenrod"
                                        {% endif %} ><i  class="fa-solid fa-star-of-david " ></i></span><span class="projOwner">{{ project.owner }}</span> <span style="float:right"><i class="fa-solid fa-database"></i>{{ project.used_space }}</span></span>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <span>This is for the displayment of remian numbers of projects</span>
            </div>
        </div>
    </div>
<!-- Creating project modal -->
    <div class="modal fade" id="createProjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa-solid fa-circle-plus"></i> Create your new Project</h4>
          </div>
          <div class="modal-body">
              <form id="createProjForm" method="post" action="" autocomplete="on">
                    {% csrf_token %}
                  {% for field in form %}
                    {% if field.name == 'color' %}
                        <div class="form-group color-radio">
                            <div class="row">
                                <div class="col-md-2" style="text-align: left;font-weight: bold">{{ field.label }}</div>
                                {% for radio in field %}
                                    <div class="col-sm-1">
                                            <label for="{{ radio.id_for_label }}" >
                                                {{ radio.tag }}
                                                <span class="cycle"></span>
                                            </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="error-msg">{{ field.errors.0 }}</div>
                        </div>
                      {% else %}
                          <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <div class="error-msg">{{ field.errors.0 }}</div>
                      </div>
                      {% endif %}

              {% endfor %}
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button  class="btn btn-primary" id="createProjButton">Create</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            arr=new Array("#56b8eb","#f28033","#ebc656","#a2d148","#20BFA4","#7461c2","#20bfa3")
            for (var i=0 ;i<7;i++){
                $('#id_color_'+i).next().css('background-color',arr[i])
            }
            $('.thumbnail').mouseover(function () {
                $(this).children().addClass('fa-bounce')
            })
            $('.thumbnail').mouseout(function () {
                $(this).children().removeClass('fa-bounce')
            })
            $("[class^='starClickMe_']").click(function () {
                const rawProjectName=$(this).attr('class')
                const projNamePattern=/starClickMe_(.*)/
                const projectName=projNamePattern.exec(rawProjectName)[1]
                $(this).children().addClass('fa-spin')
                $.ajax({
                    url: '{%  url 'web:star_me' %}',
                    type: 'post',
                    data:{
                        'project_name':projectName,
                        'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val()
                    },
                    dataType: 'json',
                    success:function (res) {
                        if(res['flag']){
                            $('.starClickMe_'+res['projectName']).css('color','')
                            $('.starClickMe_'+res['projectName']).children().removeClass('fa-spin')
                        }
                        else{
                            $('.starClickMe_'+res['projectName']).css('color','goldenrod')
                            $('.starClickMe_'+res['projectName']).children().removeClass('fa-spin')
                        }
                    }
                })
            })
            $("[class*='starClickInvol_']").click(function () {
                const rawProjectName=$(this).attr('class')
                const projNameOwnerPattern=/(.*)_starClickInvol_(.*)/
                const projectName=projNameOwnerPattern.exec(rawProjectName)[1]
                const projectOwner=projNameOwnerPattern.exec(rawProjectName)[2]
                $(this).children().addClass('fa-spin')
                $.ajax({
                    url: '{%  url 'web:star_invol' %}',
                    type: 'post',
                    data:{
                        'project_name':projectName,
                        'project_owner':projectOwner,
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success:function (res) {
                        if(res['flag']){
                            $('.'+res['projectName']+'_starClickInvol_'+res['projectOwner']).css('color','')
                            $('.'+res['projectName']+'_starClickInvol_'+res['projectOwner']).children().removeClass('fa-spin')
                        }
                        else{
                            $('.'+res['projectName']+'_starClickInvol_'+res['projectOwner']).css('color','goldenrod')
                            $('.'+res['projectName']+'_starClickInvol_'+res['projectOwner']).children().removeClass('fa-spin')
                        }
                    }
                })
            })

        $('#createProjButton').click(function () {
            $.ajax({
                url:'{% url 'web:create_proj' %}',
                method:'post',
                data:$('#createProjForm').serialize(),
                dataType:'json',
                success:function (res){
                    if(res['flag']){
                        location.href=location.href
                    }
                    else{
                        var errors=res['msg']
                        for (var fieldName in errors) {
                            if (fieldName=='color'){
                                $('.color-radio').addClass('has-error')
                                $('.color-radio .row').next().html(errors[fieldName][0])
                            }
                            else{
                                $('#id_'+fieldName).parent().addClass('has-error')
                                $('#id_'+fieldName).next().html(errors[fieldName][0])
                            }
                        }
                    }
                }
            })

        })
        })
        $('#createProjButton').click(function () {
            $.ajax({
                url:'{% url 'web:create_proj' %}',
                method:'post',
                data:$('#createProjForm').serialize(),
                dataType:'json',
                success:function (res){
                    if(res['flag']){
                        location.href=location.href
                    }
                    else{
                        var errors=res['msg']
                        for (var fieldName in errors) {
                            if (fieldName=='color'){
                                $('.color-radio').addClass('has-error')
                                $('.color-radio .row').next().html(errors[fieldName][0])
                            }
                            else{
                                $('#id_'+fieldName).parent().addClass('has-error')
                                $('#id_'+fieldName).next().html(errors[fieldName][0])
                            }
                        }
                    }
                }
            })

        })
    </script>
{% endblock %}