{% extends 'web/layout/basic.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
    <button id="resetPwd"  class="btn btn-success btn-lg" data-toggle="popover">Reset Password</button>
    <div class="content">


    </div>
{% endblock %}
{% block js %}
    <script>
        $(function(){
            $('[data-toggle="popover"]').popover()
            //initial all the elements with attributes [data-toggle="popover"] to enable them have the popover ability
        })
        $('#resetPwd').popover(
            {
                html:true,
                title:'<h4>Reset Password</h4>',
                content:function (){
                    return $('.content').html()
                },
                placement:'right',

            }
        )
    </script>
{% endblock %}